In [140]:
# Project 1
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [141]:
# This frame uses get to obtain the HTML file and printed it so we can see what we were working with
# Headers to make sure requests actually works every time
header = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'
    }
res = requests.get("https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html", headers = header)
print(res.status_code)
soup = BeautifulSoup(res.content, "html.parser")
# print (soup.prettify)

200

In [142]:
# This frame finds the table and loads it into pandas for formatting

# Find the table 
table = soup.find('table')

# Load it into pandas making sure all formatted as string
data = pd.read_html(str(table))
data = data[0]
data.rename(columns={'Unnamed: 0': 'Rank', 'Unnamed: 1': 'X_class', 'Unnamed: 2': 'Date', 'Region': 'Region', 
                       'Start': 'Start', 'Maximum': 'Max', 'End':'End'}, inplace=True)
# Printed status code bc Kernel was being dumb with requests. Sometimes throws 403 and have to wait it out
print(res.status_code)
data
# End of step 1

200

    Rank X_class        Date  Region  Start    Max    End         Unnamed: 7
0      1    X28+  2003/11/04     486  19:29  19:53  20:06  MovieView archive
1      2    X20+  2001/04/02    9393  21:32  21:51  22:03  MovieView archive
2      3  X17.2+  2003/10/28     486  09:51  11:10  11:24  MovieView archive
3      4    X17+  2005/09/07     808  17:17  17:40  18:03  MovieView archive
4      5   X14.4  2001/04/15    9415  13:19  13:50  13:55  MovieView archive
5      6     X10  2003/10/29     486  20:37  20:49  21:01  MovieView archive
6      7    X9.4  1997/11/06    8100  11:49  11:55  12:01  MovieView archive
7      8    X9.3  2017/09/06    2673  11:53  12:02  12:10  MovieView archive
8      9      X9  2006/12/05     930  10:18  10:35  10:45  MovieView archive
9     10    X8.3  2003/11/02     486  17:03  17:25  17:39  MovieView archive
10    11    X8.2  2017/09/10    2673  15:35  16:06  16:31  MovieView archive
11    12    X7.1  2005/01/20     720  06:36  07:01  07:26  MovieView archive
12    13    X6.9  2011/08/09    1263  07:48  08:05  08:08  MovieView archive
13    14    X6.5  2006/12/06     930  18:29  18:47  19:00  MovieView archive
14    15    X6.2  2005/09/09     808  19:13  20:04  20:36  MovieView archive
15    16    X6.2  2001/12/13    9733  14:20  14:30  14:35  MovieView archive
16    17    X5.7  2000/07/14    9077  10:03  10:24  10:43  MovieView archive
17    18    X5.6  2001/04/06    9415  19:10  19:21  19:31  MovieView archive
18    19    X5.4  2012/03/07    1429  00:02  00:24  00:40  MovieView archive
19    20    X5.4  2005/09/08     808  20:52  21:06  21:17  MovieView archive
20    21    X5.4  2003/10/23     486  08:19  08:35  08:49  MovieView archive
21    22    X5.3  2001/08/25    9591  16:23  16:45  17:04  MovieView archive
22    23    X4.9  2014/02/25    1990  00:39  00:49  01:03  MovieView archive
23    24    X4.9  1998/08/18    8307  22:10  22:19  22:28       View archive
24    25    X4.8  2002/07/23      39  00:18  00:35  00:47  MovieView archive
25    26      X4  2000/11/26    9236  16:34  16:48  16:56  MovieView archive
26    27    X3.9  2003/11/03     488  09:43  09:55  10:19  MovieView archive
27    28    X3.9  1998/08/19    8307  21:35  21:45  21:50       View archive
28    29    X3.8  2005/01/17     720  06:59  09:52  10:07  MovieView archive
29    30    X3.7  1998/11/22    8384  06:30  06:42  06:49  MovieView archive
30    31    X3.6  2005/09/09     808  09:42  09:59  10:08  MovieView archive
31    32    X3.6  2004/07/16     649  13:49  13:55  14:01  MovieView archive
32    33    X3.6  2003/05/28     365  00:17  00:27  00:39  MovieView archive
33    34    X3.4  2006/12/13     930  02:14  02:40  02:57  MovieView archive
34    35    X3.4  2001/12/28    9767  20:02  20:45  21:32  MovieView archive
35    36    X3.3  2013/11/05    1890  22:07  22:12  22:15  MovieView archive
36    37    X3.3  2002/07/20      39  21:04  21:30  21:54  MovieView archive
37    38    X3.3  1998/11/28    8395  04:54  05:52  06:13  MovieView archive
38    39    X3.2  2013/05/14    1748  00:00  01:11  01:20  MovieView archive
39    40    X3.1  2014/10/24    2192  21:07  21:41  22:13  MovieView archive
40    41    X3.1  2002/08/24      69  00:49  01:12  01:31  MovieView archive
41    42      X3  2002/07/15      30  19:59  20:08  20:14  MovieView archive
42    43    X2.8  2013/05/13    1748  15:48  16:05  16:16  MovieView archive
43    44    X2.8  2001/12/11    9733  07:58  08:08  08:14  MovieView archive
44    45    X2.8  1998/08/18    8307  08:14  08:24  08:32       View archive
45    46    X2.7  2015/05/05    2339  22:05  22:11  22:15  MovieView archive
46    47    X2.7  2003/11/03     488  01:09  01:30  01:45  MovieView archive
47    48    X2.7  1998/05/06    8210  07:58  08:09  08:20  MovieView archive
48    49    X2.6  2005/01/15     720  22:25  23:02  23:31  MovieView archive
49    50    X2.6  2001/09/24    9632  09:32  10:38  11:09  MovieView archive

In [143]:
# Drop the extra movie column
data = data.drop(columns = 'Unnamed: 7')

# To format into datetime, combine the date along with each time column 
data['Start_DT'] = pd.to_datetime(data['Date'] + ' ' + data['Start'])
data['Max_DT'] = pd.to_datetime(data['Date'] + ' ' + data['Max'])
data['End_DT'] = pd.to_datetime(data['Date'] + ' ' + data['End'])

In [144]:
# drop the uneccessary non-datetime columns
data = data.drop(columns=['Date', 'Start', 'Max', 'End'])

# Reorganized columns to match project description output 
data = data[['Rank', 'X_class', 'Start_DT', 'Max_DT', 'End_DT', 'Region']]
# Replace all missing data with NaN
data = data.replace('-', 'NaN')
data
# End of step 2

,Rank,X_class,Start_DT,Max_DT,End_DT,Region
0,1,X28+,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,486
1,2,X20+,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,X17.2+,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,486
3,4,X17+,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,808
4,5,X14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,X10,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,486
6,7,X9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,X9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,X9,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,930
9,10,X8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,486
10,11,X8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,X7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,720
12,13,X6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,X6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,930
14,15,X6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,808
15,16,X6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,X5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,X5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,X5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,X5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,808
20,21,X5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,486
21,22,X5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,X4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,X4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,X4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,39
25,26,X4,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,X3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,488
27,28,X3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,X3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,720
29,30,X3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,X3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,808
31,32,X3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,649
32,33,X3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,365
33,34,X3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,930
34,35,X3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,X3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,X3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,39
37,38,X3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,X3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,X3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,X3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,69
41,42,X3,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,30
42,43,X2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,X2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,X2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,X2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,X2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,488
47,48,X2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,X2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,720
49,50,X2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632

In [145]:
# Start of part 3. Use the same process at part1 to start
res = requests.get("https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html")
soup = BeautifulSoup(res.content, "html.parser")
# print (soup.prettify)

In [146]:
# This link does NOT have a marked table. Must extract as text instead
nasa_tab = soup.find('pre')
txt = nasa_tab.get_text()
# txt

In [147]:
# Since each row of data appears on a new line, split this string by line
rows = txt.split('\n')

# Now remove the unnecessary beginning and ending lines
for i in range(12):
    rows.pop(0);
for i in range(2):
    rows.pop(len(rows) - 1)

# Create a table with the proper columns 
nasa_data = pd.DataFrame(columns=['Start_Date', 'Start_Time', 'End_Date', 'End_Time', 'Start_Freq', 
'End_Freq', 'Flare_Loc', 'Flare_Region','Flare_Class', 'CME_Date', 
'CME_Time', 'CME_Angle', 'CME_Width', 'CME_Speed', 'Plot'], index = range(0,len(rows)))

# Now load each line into the newly created dataframe
row_index = 0
for temp in rows:
    row = temp.split(' ')
    while '' in row:
        row.remove('')
    col_index = 0
    while col_index < 15:
        nasa_data.iat[row_index, col_index] = row[col_index]
        col_index += 1
    row_index += 1
nasa_data
# End of step 3

,Start_Date,Start_Time,End_Date,End_Time,Start_Freq,End_Freq,Flare_Loc,Flare_Region,Flare_Class,CME_Date,CME_Time,CME_Angle,CME_Width,CME_Speed,Plot
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,2017/09/17,11:45,09/17,12:35,16000,900,S08E170,-----,----,09/17,12:00,Halo,360,1385,PHTX
518,2017/10/18,05:48,10/18,12:40,16000,400,S06E123,-----,----,10/18,08:00,85,146,1001,PHTX
519,2019/05/03,23:52,05/04,00:16,13000,2300,N12E82,12740,C1.0,05/03,23:24,90,113,692,PHTX
520,2020/11/29,13:07,11/29,15:23,14000,850,S23E89,-----,M4.4,11/29,13:25,Halo,360,2077,----
521,2020/12/07,16:18,12/08,02:00,14000,160,S25W08,12790,C7.4,12/07,16:24,Halo,360,1407,----

In [148]:
# Start by recoding the dashes as NaN
nasa_data = nasa_data.replace('----', 'NaN')
nasa_data = nasa_data.replace('-----', 'NaN')
nasa_data = nasa_data.replace('????', 'NaN')
nasa_data = nasa_data.replace('--', 'NaN')
nasa_data = nasa_data.replace('--:--', 'NaN')
nasa_data = nasa_data.replace('--/--', 'NaN')

# Create new halo column and fill it with booleans checked against CME angles
nasa_data['Halo'] = nasa_data['CME_Angle'].map(lambda x: x == 'Halo')

# Replace Halos with NA in CME angle column
nasa_data = nasa_data.replace('Halo', "NA")

# Removing the > from the width columns and instead adding a col that determines lower bound
nasa_data['Lower_Bound'] = nasa_data['CME_Width'].map(lambda x: str(x).__contains__('>'))
nasa_data['CME_Width'] = nasa_data['CME_Width'].map(lambda x: x if str(x)[0] != '>' else str(x)[1:])

# Adjust rows to allow datetime formatting
nasa_data['Start_DT'] = pd.to_datetime(nasa_data['Start_Date'] + ' ' + nasa_data['Start_Time'])

# Prepend a year to the end dates and CME dates
for i in range(len(nasa_data.index)):
    temp = nasa_data.values[i][0].split('/')
    year = str(temp[0]) + '/'
    nasa_data.iat[i, 2] = year + nasa_data.iat[i, 2]
    nasa_data.iat[i,9] = year + nasa_data.iat[i,9]

# Set the end columns to datetime
nasa_data['End_Time'] = nasa_data['End_Time'].replace('24:00', '0:00')
nasa_data['End_DT'] = pd.to_datetime(nasa_data['End_Date'] + ' ' + nasa_data['End_Time'])

# Set the cme columns to datetime
nasa_data['CME_DT'] = ''
for i in range(len(nasa_data.index)):
    if nasa_data.iat[i,9] != 'NaN' and nasa_data.iat[i,10] != 'NaN':
       nasa_data.iat[i, 19] = pd.to_datetime(nasa_data.iat[i,9] + ' ' + nasa_data.iat[i,10])

# Drop and rearrange columns to match example 
nasa_data = nasa_data.drop(columns = ['Start_Date', 'Start_Time', 'End_Date', 'End_Time', 'CME_Date', 'CME_Time'])
nasa_data = nasa_data.rename(columns = {'Flare_Class': 'Importance', 'CME_Angle': 'Angle', 
                            'CME_Speed': 'Speed', 'CME_Width': 'Width'})
nasa_data = nasa_data[['Start_DT', 'End_DT', 'Start_Freq', 'End_Freq', 'Flare_Loc', 'Flare_Region', 
                       'Importance', 'CME_DT', 'Angle', 'Width', 'Speed', 'Plot', 'Halo', 'Lower_Bound']]
nasa_data
# End of step 4
# End of part 1

,Start_DT,End_DT,Start_Freq,End_Freq,Flare_Loc,Flare_Region,Importance,CME_DT,Angle,Width,Speed,Plot,Halo,Lower_Bound
0,1997-04-01 14:00:00,1997-04-01 14:15:00,8000,4000,S25E16,8026,M1.3,1997-04-01 15:18:00,74,79,312,PHTX,False,False
1,1997-04-07 14:30:00,1997-04-07 17:30:00,11000,1000,S28E19,8027,C6.8,1997-04-07 14:27:00,NA,360,878,PHTX,True,False
2,1997-05-12 05:15:00,1997-05-14 16:00:00,12000,80,N21W08,8038,C1.3,1997-05-12 05:30:00,NA,360,464,PHTX,True,False
3,1997-05-21 20:20:00,1997-05-21 22:00:00,5000,500,N05W12,8040,M1.3,1997-05-21 21:00:00,263,165,296,PHTX,False,False
4,1997-09-23 21:53:00,1997-09-23 22:16:00,6000,2000,S29E25,8088,C1.4,1997-09-23 22:02:00,133,155,712,PHTX,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,2017-09-17 11:45:00,2017-09-17 12:35:00,16000,900,S08E170,NaN,NaN,2017-09-17 12:00:00,NA,360,1385,PHTX,True,False
518,2017-10-18 05:48:00,2017-10-18 12:40:00,16000,400,S06E123,NaN,NaN,2017-10-18 08:00:00,85,146,1001,PHTX,False,False
519,2019-05-03 23:52:00,2019-05-04 00:16:00,13000,2300,N12E82,12740,C1.0,2019-05-03 23:24:00,90,113,692,PHTX,False,False
520,2020-11-29 13:07:00,2020-11-29 15:23:00,14000,850,S23E89,NaN,M4.4,2020-11-29 13:25:00,NA,360,2077,NaN,True,False
521,2020-12-07 16:18:00,2020-12-08 02:00:00,14000,160,S25W08,12790,C7.4,2020-12-07 16:24:00,NA,360,1407,NaN,True,False

In [149]:
# Isolate rows with max intensity flares (only 50. Also technically already sorted at this point)
data = data.loc[data['X_class'].str.contains('X')]

# Remove X from classifications and sort as float
data['X_class'] = data['X_class'].str.lstrip('X')
data['X_class'] = data['X_class'].str.rstrip('+')
data['X_class'] = data.X_class.astype(float)
data = data.head(50).sort_values('X_class', ascending= False)
data

,Rank,X_class,Start_DT,Max_DT,End_DT,Region
0,1,28.0,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00,486
1,2,20.0,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00,9393
2,3,17.2,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00,486
3,4,17.0,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00,808
4,5,14.4,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00,9415
5,6,10.0,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00,486
6,7,9.4,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,8100
7,8,9.3,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,2673
8,9,9.0,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00,930
9,10,8.3,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00,486
10,11,8.2,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00,2673
11,12,7.1,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00,720
12,13,6.9,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00,1263
13,14,6.5,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00,930
14,15,6.2,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00,808
15,16,6.2,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,9733
16,17,5.7,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00,9077
17,18,5.6,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00,9415
18,19,5.4,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00,1429
19,20,5.4,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00,808
20,21,5.4,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00,486
21,22,5.3,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00,9591
22,23,4.9,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00,1990
23,24,4.9,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,8307
24,25,4.8,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00,39
25,26,4.0,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00,9236
26,27,3.9,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00,488
27,28,3.9,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,8307
28,29,3.8,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00,720
29,30,3.7,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,8384
30,31,3.6,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00,808
31,32,3.6,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,649
32,33,3.6,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00,365
33,34,3.4,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00,930
34,35,3.4,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00,9767
35,36,3.3,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,1890
36,37,3.3,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00,39
37,38,3.3,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00,8395
38,39,3.2,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00,1748
39,40,3.1,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00,2192
40,41,3.1,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00,69
41,42,3.0,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,30
42,43,2.8,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00,1748
43,44,2.8,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,9733
44,45,2.8,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,8307
45,46,2.7,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,2339
46,47,2.7,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00,488
47,48,2.7,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00,8210
48,49,2.6,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00,720
49,50,2.6,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00,9632